In [2]:
import openpyxl as pyxl

In [5]:
# oppg 1
offentlige_toalett = pyxl.load_workbook('OffToalett.xlsx')
toalett = offentlige_toalett.active

In [7]:
print(toalett.title)

Toaletter

In [8]:
for (name, price, hc, stellerom, dame, herre, ma, ti, on, to, fr, lø, sø) in toalett:
    if price.value == 'Free' and stellerom.value > 0:
        print(name.value, ti.value)

Soya Restaurant 12.00-23.00
Café Aura 09.00-20.00

In [10]:
# Oppg 2
# a)
ubase = pyxl.load_workbook('ubase.xlsx')
emner = ubase['Emne']

<Worksheet "Emne">

In [12]:
def geografiEmner(sheet):
    for (kode, tittel, stp, institutt) in emner:
        if institutt.value == 'Geografi':
            print(kode.value, tittel.value, stp.value)


geografiEmner(emner)

GE100 Innføring i geografi 15
GE114 Miljøgeografi 15

In [15]:
# b)
stilling = ubase['Ansatt']


def stillingskategorier(sheet):
    stillinger = []
    for (id, institutt, stilling, sjef) in sheet:
        stillinger.append(stilling.value)

    for i in set(stillinger):
        print(i)


stillingskategorier(stilling)

1. amanuensis
Stilling
Professor
Vit. assistent

In [31]:
# c)
person = ubase['Person']


def fulltNavn(IDnr):
    for (i, f, e, t, a) in person.rows:
        if IDnr == i.value:
            return f'{f.value} {e.value}'


def studentProgrammer():
    student = ubase['Student']

    for (id, studium) in student['A2':'B7']:
        print(fulltNavn(id.value), studium.value)


studentProgrammer()

Kari Normann Interaksjonsdesign
Per Olsen Naturgeografi
Ina Fjell Kunstig intelligens
Geir Olsen Naturgeografi
Jon Dale Samfunnsgeografi
Anne Solberg Kunstig intelligens

In [41]:
# d)
def karakterer(navn):
    person = ubase['Person']
    eksamen = ubase['Eksamen']

    for (idPerson, fornavn, etternavn, tlf, adr) in person:
        person_navn = f'{fornavn.value} {etternavn.value}'

        if person_navn.lower() == navn.lower():
            print(person_navn, tlf.value, adr.value)
            for (studentID, emne, karakter) in eksamen:
                if studentID.value == idPerson.value:
                    print(emne.value, karakter.value)


karakterer('Liv Hansen')

Liv Hansen 45362718 Hanselunden 11

In [43]:
# Oppg 3
## Program som summerer kolonnene i en tallmatrise
import openpyxl
from openpyxl.utils import get_column_letter

##from openpyxl.cell.cell import get_column_letter ## alternativ

tall = openpyxl.load_workbook('tallmatrise.xlsx')

matrise = tall.active
antallRader = matrise.max_row
antallKolonner = matrise.max_column

snittKolonne = get_column_letter(antallKolonner + 2)
sumRad = str(antallRader + 2)

for k in range(1, antallKolonner + 1):
    bokstav = get_column_letter(k)
    funk = '=SUM(' + bokstav + '1' + ':' + bokstav + str(antallRader) + ')'
    matrise[bokstav + sumRad] = funk

for r in range(1, antallRader + 1):
    bokstav = get_column_letter(antallKolonner)
    funk = f'=AVERAGE(A{str(r)}:{bokstav}{str(r)})'
    matrise[snittKolonne + str(r)] = funk

tall.save('tallmatrise2.xlsx')

In [47]:
# Oppg 4
tall2 = pyxl.load_workbook('tallmatrise.xlsx')
matrise = tall2.active

ny_matrise = tall2.create_sheet()
ny_matrise.title = 'uten rand'

siste_rad = matrise.max_row
siste_kolonne = matrise.max_column
sisteNyeCelle = get_column_letter(siste_kolonne - 1) + str(siste_rad - 1)

randløs = matrise['B2':sisteNyeCelle]
for r in range(1, siste_rad - 1):
    for k in range(1, siste_kolonne - 1):
        koordinat = get_column_letter(k) + str(r)
        ny_matrise[koordinat] = randløs[r - 1][k - 1].value

tall.save('tallmatrise3.xlsx')